<%- include('./includes/header.ejs', {path:path}) %>
    <h1 class="center-content font-weight-bold">Scrum Poker</h1>
    <div class="container login-container">
      <div class="center-content">
        <form action="/chat" id="login-form" class="col-md-6 login-form-1">
          <div class="form-group">
            <label>Username</label>
            <input
              type="text"
              name="username"
              placeholder="Input your username"
              required
              autocomplete="off"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>Role</label>
            <select
              id="role"
              name="role"
              class="custom-select"
              form="login-form"
            >
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="form-group">
            <label>Room</label>
            <input
              class="form-control"
              type="text"
              name="room"
              placeholder="Input your room"
              required
              autocomplete="off"
            />
          </div>
          <div class="form-group center-content">
            <button type="submit" class="btnSubmit">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <footer>
    <h4 class="center-content font-weight-light">made by nathan</h4>
  </footer>
  <%- include('./includes/footer.ejs') %>